# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# Virtual Environment
# =========================

venv/
.env
.venv/


# =========================
# Uploaded Files
# =========================

data/uploads/


# =========================
# Model Downloads & AI Caches
# =========================

.cache/
.cache/*
.cache/huggingface/
.cache/torch/

huggingface/
hf_cache/

cnstd/
pix2text/

models/
checkpoints/


# =========================
# Streamlit
# =========================

.streamlit/


# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db


# =========================
# Logs
# =========================

*.log


# =========================
# Temporary Files
# =========================

temp/
tmp/